# {{ ansible_managed }}
{% for source in common_ntp_sources %}
{{ source['directive'] | default('server') }} {{ source['address'] }} {{ source['options'] | default('iburst') }}
{% endfor %}

# Require at least 2 synced sources before system clock updates
minsources 2