# {{ ansible_managed }}
{% for source in common_ntp_sources %}
{{ source['directive'] | default('server') }} {{ source['address'] }} {{ source['options'] | default('iburst') }}
{% endfor %}

# Number of synced sources required before system clock updates
minsources {{ common_ntp_minsources }}